html {
  box-sizing: border-box;
  max-width: 960px;
  margin: 3em auto;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  padding: .4em .75em .5em;
  margin: auto;
  line-height: 1.5;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

img {
  display: block;
  margin-top: .5em;
  width: 100%;
  max-width: 25em;
  padding-left: 0 1em;
  float: left;
}

h2 {
  color: #000;
  padding: .5em 1em 0;
  margin: auto;
}

div p {
  padding: 1em;
  margin: auto;
  max-width: 25em;
  width: 95%;
  flex-wrap: wrap;
  clear: right;
  justify-content: center;
}

img section {
  margin: auto;
  flex: 0 1 auto;
}

div {
  display: inline-block;
  justify-content: center;
  max-width: 25em;
  clear: both;
  text-align: left;
  margin: auto;
}

.btn {
  display: inline-block;
  border-radius: .5em;
  margin: 1em;
  padding: .5em;
  color: #333;
  background-color: #eee9de;
  border-style: solid;
  border-color: #333;
  border-width: medium;
  text-decoration: none;
  max-width: 25em;
  font-size: 1.125rem;
  float: none;
  text-align: center;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}
