html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  padding: 1em 2em .4em .75em;
  margin: 0;
  line-height: 1.5;
  display: inline-block;
  margin-left: 1.5em;
  vertical-align: middle;
}

img {
  display: block;
  margin-top: 1em;
  width: 100%;
  max-width: 25em;
  float: left;
}

h2 {
  display: inline-block;
  color: #000;
  padding-top: 1.5em;
  margin: .75em;
  justify-content: center;
  max-width: 25em;
  clear: both;
  text-align: center;
}

div p {
  display: inline-block;
  margin: 1em;
  max-width: 25em;
  flex-wrap: wrap;
  clear: right;
  justify-content: center;
}

.btn {
  display: inline-block;
  border-radius: .5em;
  margin: 1em;
  padding: .5em;
  color: #333;
  background-color: #eee9de;
  border-style: solid;
  border-color: #333;
  border-width: medium;
  text-decoration: none;
  max-width: 25em;
  font-size: 1.125rem;
  float: none;
  text-align: center;
}

.btn:hover {
  background-color: #666;
  color: #fff;
}
