html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  padding: 1em 2em .4em .75em;
  margin: 0;
  line-height: 1.5;
  display: inline-block;
  margin-left: 1.5em;
}

img {
  display: block;
  vertical-align: middle;
  padding: 3em 1em 0;
  margin-top: 1em;
  width: 100%;
  max-width: 25em;
}

h2 {
  color: #000;
  display: inline-block;
  text-align: left;
  max-width: 25em;
  float: left;
}

p {
  display: inline-block;
  max-width: 25em;
  text-align: left;
  clear: right;
}

.btn {
  display: inline-block;
  border-radius: .5em;
  padding: .5em;
  margin: 1.5rem;
  color: #333;
  background-color: #eee9de;
  border-style: solid;
  border-color: #666;
  text-align: center;
  text-decoration: none;
  max-width: 25em;
  font-size: 1.5rem;
  clear: both;
}

.btn a:hover {
  background-color: #666;
  color: #fff;
}
